:root {
  --corn: #f9eb58ff;
  --maximum-yellow-red: #e8b643ff;
  --davys-grey: #484848ff;
  --android-green: #b6ca50ff;
  --middle-green-yellow: #a9bc4bff;
  --shimmering-blush: #d88094ff;
  --nadeshiko-pink: #f2abc0ff;
}

.playArea {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);

  border: 2px solid var(--davys-grey);
  border-radius: 5px;

  box-shadow: 2px 2px 2px 2px lightgray;

  margin: auto;
  margin-top: 1rem;
}

@media screen and (min-width: 800px) {
  .playArea {
    margin-right: 0;
    margin-left: 50px;
    margin-bottom: 100px;
  }
}

#instructions {
  grid-row-start: 6;
  grid-row-end: 10;
  grid-column-start: 6;
  grid-column-end: 16;
}

#start_game {
  grid-row-start: 10;
  grid-column-start: 10;

  padding: 0.5rem 2rem;
  margin-top: 0.4rem;
  border-radius: 10px;
  border: none;

  font-size: 1.4rem;

  background-color: var(--android-green);
  border: 1px solid var(--middle-green-yellow);

  box-shadow: 2px 2px 2px 2px var(--middle-green-yellow);
}

.try_again {
  grid-row-start: 16;
  grid-column-start: 4;
  grid-column-end: 17;

  padding: 1rem;
  border-radius: 5px;
  border: none;

  font-size: 1.5rem;

  background-color: var(--corn);
  box-shadow: 2px 2px 2px 2px var(--maximum-yellow-red);
}

@media screen and (max-width: 800px) {
  .try_again {
    grid-column-start: 5;
    font-size: 1.1rem;
  }
}
iframe {
  border: none;
}

#game_over {
  grid-row-start: 4;
  grid-row-end: 3;
  grid-column-start: 5;
  grid-column-end: 17;
}

#poopGIF {
  grid-row-start: 6;
  grid-row-end: 18;
  grid-column-start: 5;
  grid-column-end: 18;
}

img {
  height: 24px;
  width: 24px;
}
