header {
  /* background-image: url("images/grass_background.png"); */
  background-size: contain;

  /* width: 100%;
  height: 100px; */
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--davys-grey);
}

h1 {
  /* padding-left: 2rem; */
  margin: 0;
  font-size: 3rem;
}

.sign-in-button {
  height: 50px;
  width: 150px;
  border-radius: 50px;
  background-color: var(--nadeshiko-pink);
  box-shadow: 2px 2px 2px 2px var(--shimmering-blush);
  border: none;
  font-size: 1.4rem;
  color: var(--davys-grey);
  margin: 20px;
  margin-right: 5%;
  /* align-self: end; */
}
